<div class="wrapper">
    <div class="navbar">
        <div class="logo">
            <img src="../../../../assets/img/logo.svg" alt="">
        </div>
        <div class="links">
            <ul>
                <li>Tratamientos</li>
                <li>Consultas online</li>
                <li>Quienes somos</li>
                <li>Preguntas frecuentes</li>
                <li>Contacto</li>
                <li><button>¿Tenes dudas?</button></li>
            </ul>
        </div>
    </div>
</div>