@import "../../styles/shared-styles.scss";
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  .title {
    color: $title-color;
    font-family: $title-font;
    font-size: 36px;
    text-align: center;
  }
}

:host {
  ::ng-deep .prime-slider-override {
    .p-accordion-toggle-icon {
      position: absolute;
      right: 15px;
      color: #b700db;
    }
    .p-accordion-header-link {
      background: transparent !important;
      border: none;
      border-bottom: 1px solid #d6d6d6;
    }
    .p-accordion-header-link:hover {
      background: transparent;
      border-color: none;
    }
    .p-accordion-header-link:focus {
      box-shadow: none !important;
    }
    .p-accordion-content {
      border: none;
    }
  }
}
