<div class="wrapper">
    <h1 class="title">Paso a paso para la consulta remota</h1>
    <section class="info">
        <div class="grupo">
            <img src="../../../../assets/img/modal/Group 379.svg" alt="">
            <p class="number">1</p>
            <p class="first-text">Completás algunas preguntas breves y nos contás el motivo
                de la consulta.</p>
            <p class="second-text">Vamos a elegir la doctora adecuada según su especialidad y tu necesidad.</p>
        </div>
        <hr>
        <div class="grupo">
            <img src="../../../../assets/img/modal/Group 380.svg" alt="">
            <p class="number">2</p>
            <p class="first-text">Te contactamos por y coordinamos el pago para reservar la fecha.</p>
            <p class="second-text">Si tenés Swiss Medical es GRATIS* y si no, podes pedir reintegro <br>
                <span style="font-size:80%">*Excepto para planes que
                    requieren copago</span>
            </p>
        </div>
        <hr>
        <div class="grupo">
            <img src="../../../../assets/img/modal/Group 381.svg" alt="">
            <p class="number">3</p>
            <p class="first-text">Tenés la videollamada con tu doctora, desde donde estés y sin límite de tiempo.</p>
            <p class="second-text">¡Dura lo que vos necesites!</p>
        </div>
    </section>
</div>