@import "../../styles/shared-styles.scss";
.wrapper {
  max-width: 900px;
  margin: 80px auto;
  .title {
    color: $title-color;
    font-family: $title-font;
    margin-left: 5px;
  }
}
#Table td {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  font-size: 12px;
}
@media screen and (max-width: 950px) {
  .wrapper {
    margin: 50px 20px;
  }
}
