/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&family=Roboto:wght@300;500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  background: #ffffff;
  height: 100%;
}
html {
  height: 100%;
}
